@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0074e4;
  --dark-200: #121212;
  --dark-100: #202020;
  --light: #fdfdfd;
  --error: #e21945;
  --font-heading: "Open Sans", "sans-serif";
  --font-body: "Inter", "sans-serif";
}

h1,
h2,
h3,
h5,
h6,
h6,
button {
  font-family: var(--font-heading);
}

p,
span,
a {
  font-family: var(--font-body);
}
